EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
EXPO_PUBLIC_APPWRITE_PROJECT_NAME="Your App Name"
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
EXPO_PUBLIC_APPWRITE_QUESTIONS_COLLECTION_ID=questions
EXPO_PUBLIC_APPWRITE_CATEGORIES_COLLECTION_ID=categories
EXPO_PUBLIC_APPWRITE_QUIZ_FUNCTION_URL=https://your_function_url.appwrite.run/
EXPO_PUBLIC_APPWRITE_BUCKET_ID=bucket_id
